.carousellContainer{
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    /* position: absolute; */
    margin-top: -280px;
    z-index:2;
    position: relative;
}
.slide{
    display: flex;
    animation: 50s slideAnimation infinite linear;
    
}
.slideElement{
    padding: 10px;
    font-size: 40px;
    
}

@keyframes slideAnimation {
    from {
        transform:translateX(0);
    }
    to{
        transform: translateX(-100%)
    }
    
}

