.heroContainer {
  margin-top: -80px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroText{
  font-size: 40px;
}
.photo{
  aspect-ratio: 433/576;
  width: 30%;
  position:absolute;
  right: 50px;
}
.aboutContainer {
  width: 100%;
  border-bottom: solid 2px;

  
  display: flex;
  flex-direction: column;
justify-content: center;
  height: 100vh;
}
.aboutText {
  margin:50px;
  max-width: 900px;
  font-size: 20px;
}

.center {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}
.worksContainer {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  width: 100%;
  display: flex;

  justify-content: center;
  flex-direction: column;
  height: 100vh;
  
}

.worksElement {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  padding: 5px 30px;
  border-top: 2px solid; 
  transition:0.1s;
  width: 100%;

}

.row1 {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.row2 {
  display: flex;
  flex-direction: row;
  z-index:-100;
  position:relative;
  justify-content:space-between;
}
.title {
  align-items: center;
}
.links a {
  margin-right: 10px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.descriere {
  display: flex;
  justify-content: center;
  
}
.image {
  margin-left:20px;
  height:200px;
  aspect-ratio: auto;
}
.sectionText{
  padding: 10px;
 margin-left: 100px;
 font-family: 'Kelly Slab', cursive;
 letter-spacing: 6px;
 font-size:2rem;
}


@media only screen and (max-width: 900px) {
  .row2 {
    display: flex;
    flex-direction: column;
  }
    .descriere {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  
}
.image {
  margin-left:20px;
  height:auto !important;
  width:auto !important; 
  margin: 0;
}


}
@media only screen and (max-width: 600px) {
  .row1{
    flex-direction:column;
    align-items: center;
    justify-content: center;
  }

}


.circle{
  /* z-index: 1; */

position:absolute;
width: 150px;
height: 150px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
bottom: 100px;
right: 100px;
}
.greenDot{
position: absolute;
width: 50px;
height: 50px;
border-radius: 50%;
background-color: #4DA167;
}

.textC {
position: absolute;
width: 100%;
height: 100%;
animation: rotateText 10s linear infinite;
}
.textC span {
  position: absolute;
  left: 50%;
  font-size: 1.4em;
  transform-origin: 0 75px;

}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.overL{
  z-index: 2;
  width: 100%;
  height:100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
}

.pas{
  /* font-size: 16px; */
  /* font-family: 'Kelly Slab', cursive; */
  text-transform: uppercase;
  line-height: 1.3;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: transparent;
  /* letter-spacing: 1.1px; */
}