body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: var(--dominant);
}

:root {
  /* --dominant: #1e90ff; */
  --white: #e6e6e6;
  --background: #1a1a1a;
  --accents: #472B62;
  --dominant: #f82e2e;
}



.curtains-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/* basic plane */

.SimplePlane {
  width: 100vw;
  height: 100vh;
}


.SimplePlane img {
  display: none;
}
